.root {
    -fx-background-color: #eeeeee;
}

Label.uc {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
}

.row {
    -fx-padding: 5 5 5 5;
}

.regexField {
    -fx-text-fill: #001a4d;
    -fx-font-weight: bold;
}

TextArea {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

TextArea:focused {
    -fx-background-color: -fx-focus-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}

CodeArea {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
                linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 8;
}

CodeArea:focused {
    -fx-background-color: -fx-focus-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}

Label.info {
    -fx-font-size: 14px;
    -fx-text-fill: #001a4d;
    -fx-font-style: italic;
    -fx-padding: 5 5 5 5;
}

.resultLabel {
    -fx-font-size: 14px;
    -fx-text-fill: grey;
}

TabPane.inner {
    -fx-border-color: #d3d3d3;
}

Button.refresh {
    -fx-graphic: url('/images/icons8-refresh-16.png');
}

.searchBoxLabel {
    -fx-graphic: url('/images/icons8-search-16.png');
}

.buttonSearchUp {
    -fx-graphic: url('/images/icons8-collapse-arrow-16.png');
}

.buttonSearchDown {
    -fx-graphic: url('/images/icons8-expand-arrow-16.png');
}

.buttonSearchClose {
    -fx-graphic: url('/images/icons8-close-window-16.png');
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.buttonMoveUp {
    -fx-graphic: url('/images/icons8-scroll-up-16.png');
}

.context-menu {
    -fx-min-width: 120px;
}
